body {
  background: papayawhip;
  margin: 0;
}
*{
  border: 1px solid black;
}
.container{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}
.section{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  min-width: 95%;
  border: none;
}
.a{
  min-width: 95%;
  min-height: 20vh;
  margin: 0 auto;
  margin-top: 2.5%;
}
.b{
  min-width: 95%;
  min-height: 30vh;
  margin: 0 auto;
}
.c, .d, .e{
  min-width: 30%;
  min-height: 20vh;  
}
.f{
  min-width: 95%;
  min-height: 20vh;
  margin: 0 auto;
  margin-bottom: 2.5%;
}
@media (min-width: 600px){
  .container{
    flex-direction: row;
    flex-wrap: wrap;
  }
  
}